

.fs-4
{
    font-family: 'Pacifico', cursive;
}
.nav [aria-current="page"]{
    background-color: aqua;

}
    .nav-item .nav-link.active
    {
     background-color: #ff7575;
     border-radius: 10%;

    }
    [class="nav-link"]
{
    color: black;
}
[class="nav-link"]:hover
{
    color: rgb(224, 61, 151);
}
.body
{
    background-image: url(./Screenshot\ 2024-01-24\ alle\ 21.34.46.png);
    background-size: cover;
}
img{
    margin-right: 10px;
}
body{
    background-size: cover;
    padding: 0px 0px 10px 0px;
    background-position:right;
    background-repeat:repeat
}

.border-bottom
{
    border: 40px;
    background-image: url(./Screenshot\ 2024-01-24\ alle\ 21.34.46.png);
    background-repeat: no-repeat;
    background-size: 120%;
    padding: 40px 0px 10px 0px;
    backdrop-filter: blur(30px);

}
.text-center h1{
    font-family: 'Crimson Text', serif;
    font-size: 50px;
    background-color: #050505;
    background-image: linear-gradient(45deg, #151415, #e4285e);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.lead.mb-4{
    color: #535353;
}
form {
	width: 300px;
	margin: 0 auto;
}
input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
}

.td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: relative;
    width: 320px;
    padding: 3px;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    margin-right: 130px;
    margin-bottom: 150px;
    margin-left: 40px;

  }

  
  .tb {
    display: table;
    width: 100%;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  
  input,
  button {
    color: #796d6d;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    position: relative;
    margin-left: 30px;
  }
  [type="text"]{
    font-size: 30px;
    color: #fff;
    font-family: 'Crimson Text', serif;
  }
  
  input[type="text"]::placeholder {
    color: #f8f6f6;
    font-family: 'Crimson Text', serif;
}
#s-cover button
{
    position: relative;

    right: 10px;
    font-weight: bold;
}
.container .card
{
    background-image: url(./19ca4e1e74964bd6814ba8c9f88c7317.jpg);
    background-size: cover;
    background-position: center;


}
.align-items-center
{
    color: rgb(30, 30, 30);
    font-family: 'Crimson Text', serif;
    font-size: 27xpx;
}
small{
    margin-top: 170px;
    font-weight: bold;
    border:dashed black;
    background-color: #fff1f1;
    padding: 9px;
    font-size: 20px;
}
.container .card_2
{
    background-image: url(./donut-2_box_1920_1080.jpg);
    background-size: cover;
    background-position: center;
}
.container .card_2
{
    padding: 0;
}
.container .card_1{
    background-image: url(./IMG_1731.JPG);
    background-size: cover;
    background-position: center;
}
.pb-2.border-bottom{
    font-family: 'Crimson Text', serif;
    text-align: center;

}
.col-md-7 h2{

    font-family: 'Crimson Text', serif;
    color: #FF6868;
}
[type="button"]{
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 3rem;
    line-height: 1;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    font-size: 1.1rem;
    font-family: 'brandon-grotesque', 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-align: center;
    background-color: rgb(230,66,122);
    color: rgb(255,255,255);
    padding: 1rem 1.25em;
    transition: 0.4s ease;
    min-width: 12.5rem;
    box-shadow: 0 5px 4px rgba(178, 35, 35, 0.3);
    border: .22rem  rgb(241, 131, 171);
}
[type="button"]:hover{
    
background-color: #ff7575;
}
.btn-con{
padding: 20px;
width: 200px;
}
.bi{
    margin-left: 40PX;
}
